@charset "utf-8";
/* CSS Document */

table,td {
			border: 1px solid black
		}
td {
		    width:62px;
			height:63px
	}
				
.blue{
				
 			background:#0FC;
			alignment-adjust:central;
	}
	
.arsenal{
				
 			background:#0FC;
			alignment-adjust:central;
	}
	

.spurs{
				
 			background:#0FC;
			alignment-adjust:central;
	}
	
.blue img{
			width:60px;
			height:61px;
	}
	
.arsenal img{
		width:60px;
		height:61px;
	}
	
.spurs img{
			width:60px;
			height:61px;
}